# Collections (the complex data types)
## Collections: store all other data types (stores int, strings, booleans)
# [ ] index notations

- sets
- tuples
- list
- dictionaries
- combine collections

In [25]:
## Sets: no duplicates, no indexed (no order), itarable (loopable), collection, mutable (chanagable)

set1 = {'Ben','Jason','Darlene','Erin'}
set_declared = set(('Ben', 'Jason','G','G','Darlene'))
print(f"set1 ={set1}")
print(f"set_declared = {set_declared}")

set1 ={'Erin', 'Darlene', 'Jason', 'Ben'}
set_declared = {'G', 'Darlene', 'Jason', 'Ben'}

In [26]:
## Method: function that belongs to an object ( ex... set1. would call a method thats linked to that dot)

In [27]:
# Method to find overlaps
overlaps = set1.intersection(set_declared)
overlaps

{'Ben', 'Darlene', 'Jason'}

In [28]:
# Method to find the difference between two sets
diff = set1.difference(set_declared)
diff

{'Erin'}

In [29]:
# to add a new variable into a set
set1.add('Halle')
set1

{'Ben', 'Darlene', 'Erin', 'Halle', 'Jason'}

In [30]:
# to remove variabke from a set
set1.remove('Darlene')
set1

{'Ben', 'Erin', 'Halle', 'Jason'}

In [31]:
# Tuple: collection that exsist in parentheses
# non mutable (can't change), duplicates, itarable, indexed

tuple1 = (1,2,3,4)
tuple_declared = tuple((3,4,5,6))

print(f'tuple1 = {tuple}')
print(f'tuple_declared = {tuple_declared}')

tuple1 = <class 'tuple'>
tuple_declared = (3, 4, 5, 6)

In [32]:
tuple1 = (1,2,3,4,5) # overwriting, not changing
tuple1

(1, 2, 3, 4, 5)

In [33]:
# count occurances of a value
tuple1. count(2)

1

In [34]:
# index: returns index of value
tuple1.index(1)

0

In [35]:
# returns value at index 0
tuple[0]

tuple[0]

In [36]:
print(f'tuple1{tuple1}')

tuple1(1, 2, 3, 4, 5)

In [37]:
# list:
# Mutable, can duplicate, itarable,
list1 = ['G','G','Paola','Emil']
list_declared = list(('G','G','Paola','Emil'))
print(f'list1 = {list1}')
print(f'list_declared = {list_declared}')

list1 = ['G', 'G', 'Paola', 'Emil']
list_declared = ['G', 'G', 'Paola', 'Emil']

In [38]:
# index notation
print (f'list1 = {list1}')
print(f'first index = {list1[0]}')
print(f'last item in list1 = {list1[-1]}')
print(f'series between 2 & 3 items ={list1[1:3]}') # 2nd item is exclusive
print(f'everything before index 3 = {list1[:3]}')
print(f'everythinh after the first = {list1[1:]}')

list1 = ['G', 'G', 'Paola', 'Emil']
first index = G
last item in list1 = Emil
series between 2 & 3 items =['G', 'Paola']
everything before index 3 = ['G', 'G', 'Paola']
everythinh after the first = ['G', 'Paola', 'Emil']

In [39]:
# list Methods:

## add
list1.append('clare')
print(f'appended clare = {list1}')
## append does not return a list
list2 = list1.append('nathan')
print(f'created list2 = {list2}')
## remove
removed = list1.pop()
print(f'removed {removed}. new list is {list1}')
# change index
list1[1]='J'
print(f'index 1 of list1 changed. new list1 = {list1}')
# combine lists
combined_list1 = [list1, list_declared]
print(f'combined list = {combined_list1}')
# combine list into one
combined_list= [*list1,*list_declared]
print(f'combining list into 1:{combined_list}')

appended clare = ['G', 'G', 'Paola', 'Emil', 'clare']
created list2 = None
removed nathan. new list is ['G', 'G', 'Paola', 'Emil', 'clare']
index 1 of list1 changed. new list1 = ['G', 'J', 'Paola', 'Emil', 'clare']
combined list = [['G', 'J', 'Paola', 'Emil', 'clare'], ['G', 'G', 'Paola', 'Emil']]
combining list into 1:['G', 'J', 'Paola', 'Emil', 'clare', 'G', 'G', 'Paola', 'Emil']

In [40]:
# dictionary:
# key: values, indexed by key, not ordered, duplicate values not keys, mutable
# {key: value, key1: value}
dict1 = {'name':'nathan', 'age':39}
dict_declared = dict(name='nathan', age=39) # we never do this

print(dict_declared)
dict1

{'name': 'nathan', 'age': 39}

{'name': 'nathan', 'age': 39}

In [41]:
# get values
dict1['name']

'nathan'

In [42]:
# change values
dict1['name'] = 'nate'
dict1

{'name': 'nate', 'age': 39}

In [43]:
dict1.keys()

dict_keys(['name', 'age'])

In [44]:
dict1.values()

dict_values(['nate', 39])

In [45]:
students = [
{"name":"g", "age": 18},
{"name":"Stacy", "age": 18},
{"name":"John", "age": 21}
]
students

[{'name': 'g', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'John', 'age': 21}]

In [49]:
# get second student hint: (0,1)
students[1]

{'name': 'Stacy', 'age': 18}

In [50]:
## get name of second student
students[2]['name']

'John'

In [52]:
students.pop()

{'name': 'John', 'age': 21}

In [53]:
students.append({"name": "Nate", "age": 24})
students

[{'name': 'g', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nate', 'age': 24}]

In [54]:
students[2]["name"]= "Nathan"
students

[{'name': 'g', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'Nathan', 'age': 24}]

In [55]:
dict1 ["name"] = "Bozo"

In [56]:
dict1

{'name': 'Bozo', 'age': 39}