- What is a Dataframe (DF) - (Pandas)
- Create DF
- Vectorized Operations
- Access rows, columns, cells, (.loc, .iloc, .at)
- Change Values
- Sort Values

In [ ]:
import pandas as pd ## pandas and a data frame is a data series is just its own collection of values

In [ ]:
from typing import List
data_list: list[int]= [1,2,3,4,5]


s1 = pd.Series(data_list)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s1 = s1+23
s1

0    24
1    25
2    26
3    27
4    28
dtype: int64

In [ ]:
## data frame = a collection of series objects
## DF Rules: Columns must be homogenous. All columns must have same numbers of data entries.
## to create a DF: 

# Dictionary creation:
data = {
    "name": ["Nate","Rebecca","Edwin","Preston"],
    "age" : [39,40,11,7],
    "year": ["Senior", "Junior", "Sophmore", "Freshman"]
}
students_df = pd.DataFrame(data=data)
students_df = students_df.set_index("name")
students_df

         age      year
name
Nate      39    Senior
Rebecca   40    Junior
Edwin     11  Sophmore
Preston    7  Freshman

In [ ]:
students_df = students_df.reset_index()
students_df

      name  age      year
0     Nate   39    Senior
1  Rebecca   40    Junior
2    Edwin   11  Sophmore
3  Preston    7  Freshman

In [31]:
# Row-Based creation:
import random

name = ["Messi", "Ronaldo", "Neymar", "Pulisc", "Mbappe"]
goals_per_game = [random.random() for _ in name ]
games = [round(random.random()* 1000) for _ in name ]

cols = ["name", "goals/game", "games"]
stats = [[name[i], goals_per_game[i], games[i]]for i in range(5)]
stats_df = pd.DataFrame(data = stats, columns = cols)
stats_df

      name  goals/game  games
0    Messi    0.251293    982
1  Ronaldo    0.256143    113
2   Neymar    0.807973    763
3   Pulisc    0.964321    910
4   Mbappe    0.843785    499

In [33]:
stats_df["new_col"] = 0
stats_df

      name  goals/game  games  new_col
0    Messi    0.251293    982        0
1  Ronaldo    0.256143    113        0
2   Neymar    0.807973    763        0
3   Pulisc    0.964321    910        0
4   Mbappe    0.843785    499        0

In [34]:
stats_df = stats_df.drop(columns= ["new_col"])
stats_df

      name  goals/game  games
0    Messi    0.251293    982
1  Ronaldo    0.256143    113
2   Neymar    0.807973    763
3   Pulisc    0.964321    910
4   Mbappe    0.843785    499

In [35]:
stats_df['goals'] = stats_df ['goals/game']* stats_df ["games"]
stats_df

      name  goals/game  games       goals
0    Messi    0.251293    982  246.770028
1  Ronaldo    0.256143    113   28.944137
2   Neymar    0.807973    763  616.483607
3   Pulisc    0.964321    910  877.531667
4   Mbappe    0.843785    499  421.048809

In [59]:
stats_df = stats_df.rename(columns = {"goals/game":"goals_p_game"})
# stats_df = stats_df.rename (columns = {"goals/game": "goals_p_game"})
stats_df

AttributeError: 'NoneType' object has no attribute 'rename'

In [60]:
stats_df["name"] = stats_df ["name"].str.lower()
stats_df

TypeError: 'NoneType' object is not subscriptable

In [61]:
## filtering with .loc

stats_df.loc[0]

AttributeError: 'NoneType' object has no attribute 'loc'

In [62]:
stats_df.loc[:,"name"]

AttributeError: 'NoneType' object has no attribute 'loc'

In [63]:
stats_df.loc[:,"name":"goals"]

AttributeError: 'NoneType' object has no attribute 'loc'

In [64]:
# boolean logic with .loc

stats_df.loc[stats_df["goals_p_games"] > 0.5]

AttributeError: 'NoneType' object has no attribute 'loc'

In [65]:
stats_df.loc[stats_df["goals_p_games"] > 0.5, "name"]

AttributeError: 'NoneType' object has no attribute 'loc'

In [66]:
stats_df.loc[stats_df["goals_p_games"] > 0.5, "name"] = "messi"

AttributeError: 'NoneType' object has no attribute 'loc'